.main {
    background: linear-gradient(#ff9100, #2032ff);
    height: auto;
    padding-top: 15vh;
    padding-bottom: 3vh;
}
.footer {
    border-top: 2px solid #3c3d3c;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-text {
    margin: 1.5vh;
    font-size: 1.6rem;
}

.footer-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

.container {
    font-size: larger;
    padding: 30px;
    background-color: rgba(240, 240, 240, 0.6);
    border-radius: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
    display: flex;
    align-items: center;
}

.video-container {
    font-size: larger;
    padding: 30px;
    background-color: rgba(240, 240, 240, 0.6);
    border-radius: 25px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 50px;
}

.text-block{
    text-align: justify;
    margin:15px ;
}