.roplabda-table {
    border-collapse: collapse;
    background-color: aliceblue;
    width: 100%;
    border-radius: 15px;
    overflow: hidden; /* Ensures rounded corners are applied properly */
}

.roplabda-table td {
    padding: 8px;
    text-align: left;
}

.roplabda-table tr:hover {
    background-color: #f5f5f5;
}

.roplabda-table th {
    background-color: #ffefd9;
    color: #333;
}

.roplabda-table td:not(:first-child) {
    border-left: 1px solid #ddd;
}

.roplabda-table td:not(:last-child) {
    border-right: 1px solid #ddd;
}

.roplabda-table tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
}


.kosarlabda-table {
    border-collapse: collapse;
    background-color: aliceblue;
    width: 100%;
    border-radius: 15px;
    overflow: hidden; /* Ensures rounded corners are applied properly */
}

.kosarlabda-table td {
    padding: 8px;
    text-align: center;
    width: 33.33%;
}

.kosarlabda-table tr:hover {
    background-color: #f5f5f5;
}

.kosarlabda-table th {
    background-color: #ffefd9;
    color: #333;
}

.kosarlabda-table td:not(:first-child) {
    border-left: 1px solid #ddd;
}

.kosarlabda-table td:not(:last-child) {
    border-right: 1px solid #ddd;
}

.kosarlabda-table tr:not(:last-child) td {
    border-bottom: 1px solid #ddd;
}